# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Ambientes virtuais
venv/
.env/
.venv/

# Configurações locais
config.json

# Logs
*.log

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# PyInstaller
*.spec
